.left-nav{ 
    display: flex;
    /* height: 98vh;   */
    max-width: 18vw;
    overflow: auto;
    max-height: 98vh; 
    flex-flow: column wrap;  
    border: 2px solid rgba(255, 255, 255, .2);
    flex: 1; 
    border-radius: 0.5vw; 
} 
.left-nav .project-details{
    display: flex;
    align-items: center;
}
.left-nav .menu{
    display: flex;
    align-items: center; 
    text-align: center;
    font-size: 0.9vw;  
    margin: 1vw;
    padding: 1vw;
    /* color: rgb(113, 110, 110); */
    color: #316346;
    background-color: white;
    border-radius: 1vw;
    transition-duration: 0.3s;
}
.left-nav .menu:hover{
    color: white;
    /* background-color: #6d30ed; */
    background-color: #26a65b;
    cursor: pointer;
}
.left-nav .menu .icon{
    font-size: 2vw;
    margin-right: 1vw; 
}
.left-nav .project-details img{
    width: 12vw;
    height: auto;
    border-radius: 15%;
    margin: 1.5vw 1.5vw;
} 